.contenttypevisa{
    width:94%;
    height: 400px;
    margin-left: 40px;
    margin-top: 20px;
    
}
.contentwritevisa{
    margin-right: 1100px;
    font-weight: 700;
    font-size: 20px;
}
.inputfield{
    width:95%;
    height: 400px;
    margin-left: 30px;

}

.annaimagecolvisa{
    margin-left: 20%;
}
.annaformatvisa{
    margin-left: -110%;
}